# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\股票系统开发\股票系统\stock2c1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
